include LICENSE
include README.md
exclude .pre-commit-config.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *

# Include json schemas
recursive-include ethology *.json
recursive-include ethology *.md
