name: tests

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:

# Cancel in-progress runs if a new run is triggered, except for main branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_manifest@v2

  test:
    needs: [linting, manifest]
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Run all supported Python versions on linux
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest]
        # Include one windows and macos run
        include:
        - os: macos-latest
          python-version: "3.13"
        - os: windows-latest
          python-version: "3.13"

    steps:
      # Run tests
      - uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          secret-codecov-token: ${{ secrets.CODECOV_TOKEN }}

  check_tag:
    name: Check if trigger is tag and if it points to commit on main
    outputs:
      tag_on_main: ${{ steps.check.outputs.tag_on_main }}
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_tag_on_main@tags-filter
        id: check

  build_sdist_wheels:
    name: Build source distribution
    needs: [test, check_tag]
    if: github.event_name == 'push' && needs.check_tag.outputs.tag_on_main == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: neuroinformatics-unit/actions/build_sdist_wheels@v2


  upload_all:
    name: Publish build distributions
    needs: [build_sdist_wheels, check_tag]
    if: github.event_name == 'push' && needs.check_tag.outputs.tag_on_main == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v6
      with:
        name: artifact
        path: dist
    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TWINE_API_KEY }}
